body {
  background-color: #fff6f0;
  font-family: "Segoe UI", sans-serif;
  color: #5c2e0f;
}

h1,
h2,
h3,
h4 {
  color: #d17e53;
  font-weight: 600;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(245, 179, 195, 0.6);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(245, 179, 195, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(245, 179, 195, 0);
  }
}
